/* line 3, /home/yamasita/middleman/source/stylesheets/main.scss */
body {
  margin: 0 auto;
  max-width: 1000px;
  postion: relative;
}
/* line 7, /home/yamasita/middleman/source/stylesheets/main.scss */
body header {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 11, /home/yamasita/middleman/source/stylesheets/main.scss */
body header h1 {
  font: 80px/1.2em Georgia,serif;
  margin: 0;
  text-align: center;
}
/* line 12, /home/yamasita/middleman/source/stylesheets/main.scss */
body header h1 a {
  color: black;
}
/* line 14, /home/yamasita/middleman/source/stylesheets/main.scss */
body header h1 a:hover {
  color: black;
  text-decoration: none;
}
/* line 25, /home/yamasita/middleman/source/stylesheets/main.scss */
body header h2 {
  color: #777777;
  font-size: 17px;
  border: none;
  padding-left: 10px;
}

/* line 33, /home/yamasita/middleman/source/stylesheets/main.scss */
hr.spliter {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #333, #ccc);
  background-image: -moz-linear-gradient(left, #333, #ccc);
  background-image: -ms-linear-gradient(left, #333, #ccc);
  background-image: -o-linear-gradient(left, #333, #ccc);
  text-align: left;
  max-width: 700px;
  margin-left: 0px;
}

/* line 45, /home/yamasita/middleman/source/stylesheets/main.scss */
hr.spliter2 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(right, #333, #ccc);
  background-image: -moz-linear-gradient(right, #333, #ccc);
  background-image: -ms-linear-gradient(right, #333, #ccc);
  background-image: -o-linear-gradient(right, #333, #ccc);
  width: 30%;
  margin-right: 0px;
  margin-top: 10px;
}

/* line 59, /home/yamasita/middleman/source/stylesheets/main.scss */
.tag-box {
  margin-right: 3px;
  margin-top: 40px;
  text-align: right;
}

/* line 64, /home/yamasita/middleman/source/stylesheets/main.scss */
div.comment-link {
  text-align: right;
  margin-right: 3px;
}
/* line 68, /home/yamasita/middleman/source/stylesheets/main.scss */
div.comment-link img {
  margin-top: -12px;
}

/* line 72, /home/yamasita/middleman/source/stylesheets/main.scss */
iframe.twitter-share-button {
  width: 105px !important;
}

/* line 75, /home/yamasita/middleman/source/stylesheets/main.scss */
.blinking {
  -webkit-animation: blink 0.8s ease-in-out infinite alternate;
  -moz-animation: blink 0.8s ease-in-out infinite alternate;
  animation: blink 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 88, /home/yamasita/middleman/source/stylesheets/main.scss */
div.title {
  font-weight: bold;
  font-size: 20px;
}
/* line 91, /home/yamasita/middleman/source/stylesheets/main.scss */
div.title p {
  margin: 0px;
  font-size: 28px;
  font-style: italic;
  text-shadow: 1px 2px 3px #0FF;
}

/* line 99, /home/yamasita/middleman/source/stylesheets/main.scss */
div.article-body {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 11px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 11px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 5px 11px 1px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 100px;
}

/* line 107, /home/yamasita/middleman/source/stylesheets/main.scss */
#main {
  width: 70%;
  float: left;
  padding-right: 20px;
  border-width: 1px;
  border-style: none solid none none;
}

/* line 115, /home/yamasita/middleman/source/stylesheets/main.scss */
aside {
  width: 30%;
  padding-left: 10px;
  float: left;
  margin-left: -1px;
  border-color: #333;
  border-width: 1px;
  border-style: none none none solid;
}

/* line 125, /home/yamasita/middleman/source/stylesheets/main.scss */
.clear {
  clear: both;
  width: 100%;
}

/* line 129, /home/yamasita/middleman/source/stylesheets/main.scss */
footer {
  width: 100%;
  margin-top: 20px;
}

/* line 134, /home/yamasita/middleman/source/stylesheets/main.scss */
.month {
  cursor: pointer;
  list-style-type: none;
}

/* line 138, /home/yamasita/middleman/source/stylesheets/main.scss */
.kiji {
  display: none;
}

/* line 141, /home/yamasita/middleman/source/stylesheets/main.scss */
.page {
  text-align: center;
}

/* line 144, /home/yamasita/middleman/source/stylesheets/main.scss */
.prev-page {
  text-align: left;
  float: left;
}

/* line 148, /home/yamasita/middleman/source/stylesheets/main.scss */
.next-page {
  float: right;
  text-align: right;
}
